<div class="mainBar">
  <!-- {{notificationsCount}} -->
  <a class="notiIcon" [ngClass]="{'containsNotifications': notificationsCount, 'notiIconActive': isActive}" 
  (click)="toggleNotificationBar()">
  <i class="fa fa-bell" aria-hidden="true"></i>
</a>
</div>

<app-notification-bar [notificationBarData]="notificationBarData"></app-notification-bar>

<br/><br/>

<app-notifications (notificationsReceived)="setNotificationsCount($event)"></app-notifications>

<div>
  <h2>Tour of Heroes</h2>

  <nav>
    <a *ngFor="let route of routes" [routerLinkActive]="['active']" routerLink="/{{route.route}}">{{route.name}}</a>
    <!-- <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/app-hero-rule">Rules</a>
    <a routerLink="/dummy-code">Dummy Code</a> -->
  </nav>

  <router-outlet></router-outlet>

  <app-messages></app-messages>
</div>